@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 50em;
    background-color: #e6c4b1;
  }

/*
body {
  font-family: "Helvetica", "Arial", sans-serif;
}
*/

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  line-height: 1.5;
  padding: 4em 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

body {
  color: #555;
}

h1,
h2,
strong {
  color: #333;
}

div {
  font-weight: 500;
}

a {
  color: #e02ce0;
}

header {
  background-color: #263d36;
  background-image: url("header2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 4em;
  text-align: center;
}

header h1 {
  color: rgb(255, 255, 255);
  font-size: 4em;
  font-weight: 500;
}