body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    /* margin: 0 auto; */
    background-color: #f1f1f1;
}
hr{
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

nav{
    background-color: hsl(209, 61%, 16%);
    padding: 0.1rem 1rem;
}

.nav-center h1 {
    text-transform: uppercase;
    text-align: center;
    color:#ffffff;
    font-size: 3rem;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.banner {
    /* background-color: #ffffff; */
    background-color: rgba(51, 92, 126, 0.753);
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.452)), url("./header2.jpg"); */
    background-image: url("./header2.jpg");
    background-blend-mode: multiply;
    /* background-position: center top; */
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 30vw 20em;
    text-align: center;
    color:#ffffff;
}

.banner h2{
    font-size: 3rem;
    height: 2rem;
}

h2, section {
    text-align: center;
}

h2{
    font-size: 2.5rem;
    /* background-color: #dd9f7b; */
    height: 5rem;
    text-align: center;
}

.nav-btns{
    padding: 2em;
    place-items: center;
    text-align: center;
}

.products-center {
    width: 90vw;
    /* max-width: 1170px; */
    margin: 0 auto;
} 

.products-container {
    display: grid;
    gap: 0rem 2rem;
    grid-template-columns: 1fr 1fr;
}

.option-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.brands-container{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.brand{
    font-size: 2rem;
    text-transform: capitalize;
    padding: auto;
    border: 5px solid;
}

/* Clear floats after image containers */
.product::after {
    align-items: center;
    content: "";
    clear: both;
    display: table;
  }

.underline{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;

}

.resize img{
    width:50%; /* you can use % */
    height: auto;
}

.col{
    padding: 2em;
    
}

#indicators, #options{
    font-size: 2rem;
}

footer {
    background: hsl(209, 61%, 16%);
    padding: 5rem 1rem;
}
footer p {
    color: white;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    margin-bottom: 0;
}

select {
    width:auto;
    height: 40px;
    /* margin: 10px; */
    font-size: 2rem;
    text-transform: capitalize;
}